*, *:before, *:after {
    box-sizing: border-box;
}


.code {
    background: darkslategrey;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    color: white;
    text-align: center;
    overflow: auto;
    font-size: 18px;
    padding: 20px;
}

.section{
  text-align: center;
}

body {
    text-align: left;
    font-family: 'Merriweather', serif;
    background-color: white;
    font-size: 1em;
}

.signup {
  text-align: center;
  padding: 0px 4px;
  font-size: .8em;
  margin-bottom: 5px;
  border-bottom: 5px solid black;
  background-color: pink;
}

::placeholder {
  text-align: right;
}

.newsletter {
  border: none;
}

.information {
 border: none;
 border-bottom: 3px solid black;
}

form {
  border-top: 3px solid black;
  line-height: 3;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="state"],
input[type="address"],
input[type="number"],
input[type="zip_code"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}


button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: teal;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid teal;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 teal inset;
    margin-bottom: 10px;
  }

  footer{
    text-align: center;
    font-style: Italic;
    font-size: 0.8em;
  }

 #name:focus, #state:focus, textarea:focus {
    color: black;
    background-color: lightcoral;
  }


  #zip_code {
    width: 50%;
  }
  /* Media Queries */

  @media screen and (min-width: 768px) {

.flex {
    display: flex;
    flex-basis: 50%;
    
}

#zip_code {
  width: 25%;
}


.information, .flex {
  width: 100%;
  justify-content: space-between;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="state"],
input[type="address"],
input[type="number"],
input[type="zip_code"],
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 50%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

  }